@page
@model LoginModel
    <div id="logreg-forms">
        <h1 class="h3 mb-3 font-weight-normal text-info pt-4" style="text-align:center;">Sign In</h1>
        <form id="account" method="post">
            <input asp-for="Input.Email" placeholder="Email..." type="email" class="mb-1 form-control" />
            <input asp-for="Input.Password" placeholder="Password..." type="password" class="form-control" />
            <button type="submit" class="btn btn-success btn-block"><i class="fas fa-sign-in-alt"></i> Log in</button>
            <div asp-validation-summary="All" class="text-danger"></div>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-info text-white">Register as a new user</a>
        </form>

    </div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
